@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');

.cabecalho {
    width: 100%;
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #FFFFFF;
}

.cabecalho__logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.logo-links {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.logo {
    width: 176px;
    height: 50px;
}

.lupa {
    width: 17px;
    height: 17px;
}

.campo__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 2rem;
}

.campo__busca {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 393px;
    height: 25px;
    padding: 8px 16px;
    border-radius: 20px;
    background: #F5F5F5;
}

.input__busca {
    background: #F5F5F5;
    color: #A2A2A2;
    font-size: 14px;
    width: 159px;
    height: 40px;
    border: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
}

.login {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #2A7AE4;
    padding: 16px;
    width: 182px;
    height: 51px;
    background: #FFFFFF;
    color: #2A7AE4;
}

@media(max-width: 768px) {
    .logo {
        width: 22.74px;
        height: 16.33px;
    }
    .campo__busca {
        width: 272px;
        height: 25px;
    }
    .input__busca {
        width: 159px;
        height: 16px;
        font-size: 14px;
    }
    .lupa {
        width: 17.05px;
        height: 17.06px;
    }
    .login {
        width: 166px;
        height: 40px;
    }
}